.info-pane, .content-pane{
    -fx-background-color: #f9f9f9;
}

.info-pane{
    -fx-padding: 10px;
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: #e2e2e2;
    -fx-row-valignment: MIDDLE;
}

#titleText{
    -fx-font-weight: bolder;
    -fx-padding: 0 0 40px;
}

HBox{
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #e2e2e2;
}

#msgText{
    -fx-text-fill: red;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-padding: 0 10px;
    -fx-font-weight: bold;
}